.benefits-title{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 900;
}

.component-container {
    background-color: #EDEFF7;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 55px;
}

.component-title-normal {
    font-size: 45px;
    font-weight: bolder;
    /* color: var(--primary-color) */
}
.component-title-blue {
    font-size: 45px;
    color: var(--primary-color);
    font-weight: bolder;
}

.porcentaje {
    font-size: 45px;
    color: var(--second-color)
}

.table th{
    background-color: #FFF;
    border-collapse: collapse;
    border:3px solid var(--primary-color);
    font-size: 16px;
    /* border-radius: 7px; */
}
.table tr td{
    background-color: #FFF;
    border-collapse: collapse;
    border:3px solid var(--primary-color);
    font-size: 16px;
    /* border-radius: 7px; */
}

.container-table-bonification {
    background-color: var(--primary-color);
    border-radius: 10px;
    max-height: 500px;
    /* padding: 25px; */
    margin-top: 10px;
}

.item-img {
    height: 100px;
}
table:nth-child(2) {
    margin: 0;
}


@media (max-width: 768px) {
    .component-title-normal {
        font-size: 25px;
        font-weight: bolder;
        /* color: var(--primary-color) */
    }

    .component-container {
        background-color: #EDEFF7;
        border: 2px solid var(--primary-color);
        border-radius: 20px;
        padding: 15px;
    }

    .item-img {
        height: 40px;
    }

    .item-title {
        font-size: 13px;
        overflow-wrap: break-word;
    }
}