.imgAreas{
    height: 120px;
}

.container-areas{
    padding: 0rem 2rem;
}

.content-txtAreas{
    border-radius: 5px  ;
    margin-top: 1.3rem;
    width: 100%;
    background: var(--primary-color);
    color: white;
}

.titleAreas{
    font-size: 18px;
    padding: 1rem 0rem;
}

.subtitleAreas{
    font-size: 12px;
    padding: 1.2rem 0.5rem;
}

@media(max-width:768px){
    .container-areas{
        padding: 0rem 1rem;
    }

    .imgAreas{
        margin-top: 20px;
    }
}