.btn-credits{
    text-align: center ;
    font-size: 15px;
    background-color: var(--tird-color);
    border-color: var(--tird-color);
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 15px;
    width: 100% !important;
    box-shadow: none !important;
}

.btn-credits:hover{
    background-color: var(--primary-color);
    border-color: var(--second-color) !important;
    color: white;
}

.contenedor{
    margin: 2rem 5rem;
    padding: 1rem 2rem;
    box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999; 
    -moz-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999; 
    -webkit-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
}

.columnas-inline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.columnas-inline div {
    width: 50%;
}
.result-value{
    text-align: end;
}

/*columna botones*/
.wrapper-botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /*spacio de separacion entre columnas*/
}
.wrapper-botones, .botones button {
    width: 20%;
}

.txtInfo{
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.inputMonto{
    /* width: 100%; */
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-color: var(--primary-color);
    text-align: start;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    background: var(--primary-color);
}

.inputRange{
    width: 100%;
    /* --webkit-appearance: none; */
    color: black !important;
    margin-bottom: 2rem;
}

.inputRange2{
    width: 100%;
    background: var(--primary-color);
    margin-bottom: 2rem;
}

.payment-btn{
    text-align: start;
    font-size: 15px;
    background-color: var(--tird-color);
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 15px;
    width: 100% !important;
    box-shadow: none !important;
}

.payment-btn:hover{
    background-color: var(--second-color);
    border-color: var(--second-color);
    color: var(--primary-color);
}

.resultInfo{
    margin: 2rem 3rem;
    padding: 0.5rem 2rem;
    border-style: solid;
    border-radius: 12px;
    color: var(--second-color);
    font-size: 19px;
    /* width:60%;
    height: 100%; */
}

.txt2Info{
    font-size: 18px;
    padding-right: 1rem;
    margin: 0px;
    color: gray;
}

.txt3Info{
    font-size: 18px;
    color: #2999e4;
}

.loanBtn{
    border-radius: 12px;
    margin-top: 1.5rem;
    background: var(--primary-color);
    color: white;
    font-size: 20px;
}


@media (max-width: 768px) {

    .contenedor{
        margin: 2rem 0rem;
    }

    .txtInfo {
        font-size: 14px;
    }

    .btn-credits{
        font-size: 13.5px;
        margin-top: 15px;
        box-shadow: none
    }

    .payment-btn{
        font-size: 13.5px;
    }

    .inputMonto{
        color: white;
        font-size: 15px;
        background: var(--primary-color);
        width: 100%;
    }

    .txt2Info{
        font-size: 16px;
    }
    
    .txt3Info{
        margin-top: 10px;
        font-size: 16px;
        text-align: justify;
    }

    .resultInfo{
        color: var(--second-color);
        font-size: 16px;
        width: 100%;
        padding: 5px 5px;
        margin: 20px 0px;
    }

    .loanBtn{
        font-size: 16px;
    }
}