/* img InfoPrevención */
.img-C2{
    width: 100px;
    height: 100px;
}

.value-info-prev{
    text-align: center;
    font-size: 22px;
    color: var(--second-color);
    font-weight: bold;
}

.txt1-info-prev{
    height: 80px;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
    padding: 0px 15px;
}

.txt2-info-prev{
    padding: 0px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    color: black
}

.content-info-prev{
    width: 100%;
}

.info-phone{
    display: none;
}

@media (max-width: 990px) {
    .txt1-info-prev{
        height: 100%
    }

    .info-phone{
        display: block;
    }

    .info-desktop{
        display: none;
    }

    .txt-value-info{
        color: var(--second-color);
        font-weight: bold;
        font-size: 20px !important;
    }

    .txt-title-info{
        font-weight: 200;
        text-align: center;
        color: var(--primary-color);
    }

    .txt-subtitle-info{
        font-size: 16px;
        font-weight: 100;
        color: black
    }
}