.txt-blog{
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 50px;
}

/* .grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.grid-col1-blog{
    text-align: end;
    font-size: 22px;
    color: var(--primary-color);
    font-weight: bold;
}

.txt-infoBlog-content{
    padding-left: 15px;
    font-weight: normal;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
}

.content-btn-blog{
    margin: 30px 0px;
}

.btn-blog{
    text-decoration: none;
    /* margin: 30px 0px; */
    padding: 5px 20px;
    border-color: var(--second-color);
    border-style: none;
    background: var(--second-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
}

.grid-img1-content{
    text-align: center;
    padding: 0px;
}

.radius-img-blog{
    border-radius: 50%;
}

.img1-blog{
    /* padding: 10px; */
    height: 300px;
    box-shadow: 8px 10px 0px #CCCCCC;
}

.content-imgs-blog{
    padding-left: 15%;
    margin-top: -50px;
}

.img2-blog{
    margin-bottom: 80px;
    height: 200px;
}
.img3-blog{
    margin: 80px 20px 0px 20px;
    height: 200px;
}
.img4-blog{
    margin: 0px 20px;
    margin-top: 0px;
    height: 280px;
}

.subscribe-blog{
    margin-top: 30px;
}

.input-blog{
    text-align: center;
    width: 60%;
    background: var(--tird-color);
    font-size: 18px;
    margin-right: 25px;
    border-radius: 15px;
    border-style: none;
    padding: 5px 0px;
    border: none;
}

.content-btn-subscribe{
    margin-top: 5px;
}
.btn-subscribe-blog{
    text-decoration: none;
    background: var(--second-color);
    color: var(--primary-color);
    padding: 1px 5px;
    border-radius: 15px;
}

@media (max-width: 1385px) {
    .content-imgs-blog{
        padding-left: 10%;
    }
}

@media (max-width: 1200px) {
    .content-imgs-blog{
        display: none !important;
    }
}

@media (max-width: 768px) {
    .txt-blog{
        text-align: center;
    }
    
    .grid-col1-blog{
        text-align: center;
        font-size: 19px;
    }
    
    .txt-infoBlog-content{
        padding: 10px;
        font-size: 16px;
        color: black;
    }

    .invertir{
        flex-direction: column-reverse;
    }

    .img1-blog{
        height: 200px;
        margin-bottom: 25px;
    }

    .subscribe-blog{
        margin-top: 5px;
        text-align: center !important;
        margin-bottom: 50px !important;
    }

    .input-blog{
        text-align: center;
        width: 100%;
        background: var(--tird-color);
        font-size: 15px;
        margin-right: 25px;
        border: none;
        /* border-style: none; */
    }

    .input-blog:focus{
        outline: none;
    }

    .content-input-blog{
        padding: 0px 25px;
        margin: 0px;
        text-align: center !important;
    }
    

    .content-btn-subscribe{
        margin-top: 15px;
        text-align: center;
    }

    .btn-subscribe-blog{
        padding: 2px 12px;
    }

}
